.contact {
  padding: 104px 0 120px;
  color: #222;
}

.contact__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.contact__title-text-red {
  color: #d10014;
}

.form {
  padding: 60px;
  border-radius: 32px;
  background-color: #fff;
}

.form__fieldset {
  display: none;
  margin-bottom: 32px;
}

.form__fieldset--active {
  display: block;
}

.form__title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.form__radio-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.form__radio-wrapper:last-child {
  margin-bottom: 0;
}

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio__label {
  display: block;
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  background: #f0f4f4;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.radio__label:hover {
  background: #e4f0f0;
}

.radio__input:focus-visible + .radio__label {
  border-color: #d10014;
}

.radio__input:checked + .radio__label {
  background: #222;
  color: #fff;
}

.form__months {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.form__btn-month {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__btn-month--active {
  color: #d10014;
  transform: scale(1.1);
}

.form__time {
  display: none;
}

.form__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 8px;
  margin-bottom: 32px;
}

.form__input {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #f0f4f4;
  border: 1px solid transparent;
  color: inherit;
  outline: none;
}

.form__input::placeholder {
  color: #dcdcdc;
}

/* .form__input:hover {
  background-color: #f0f4f4;
} */

.form__input:focus-visible {
  border-color: #d0d0d0;
}

.form__info {
  font-weight: 500;
  line-height: 140%;
}

.form__info-date {
  display: flex;
  gap: 8px;
  font-family: Arial;
}

.form__btns {
  display: flex;
  gap: 8px;
}

.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #f0f4f4;
  color: #222;
  font-weight: 500;
  outline: none;
}

.form__btn:hover {
  background: #e4f0f0;
}

.form__btn:focus-visible {
  border-color: #d10014;
}

.form__btn:disabled {
  background-color: #f0f4f4;
  color: #222;
  opacity: 0.4;
  pointer-events: none;
}

.form__btn--next,
.form__btn--submit {
  background-color: #d10014;
  color: #ffffff;
}

.form__btn--next:hover,
.form__btn--submit:hover {
  background: #222;
  color: #ffffff;
}

.form__btn--next:focus-visible {
  border-color: #222;
}

@media (max-width: 1080px) {
  .contact {
    padding: 60px 0 120px;
  }

  .contact__title {
    margin-bottom: 32px;
    font-size: 60px;
  }

  .form {
    padding: 40px;
  }

  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 50px 0 100px;
  }

  .contact__title {
    font-size: 48px;
  }
}

@media (max-width: 660px) {
  .contact {
    padding: 50px 0 80px;
  }

  .contact__title {
    font-size: 32px;
  }

  .form {
    padding: 24px 16px;
    border-radius: 16px;
  }

  .form__title {
    margin-bottom: 24px;
  }

  .form__radio-wrapper {
    margin-bottom: 24px;
  }

  .form__fieldset {
    margin-bottom: 24px;
  }

  .form__input-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 24px;
  }
}
