.footer {
  padding: 40px 0 30px;
  background: #222;
}

.footer__container {
  display: grid;
  grid-template-areas:
    "logo ."
    "copyright developers";
  gap: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
}

.footer__logo {
  grid-area: logo;
  width: 100%;
  max-width: 480px;
}

.footer__copyritght {
  grid-area: copyright;
  align-self: self-end;
}

.footer__developers {
  grid-area: developers;
  justify-self: self-end;
}

.footer__developer {
  margin-bottom: 7px;
}

.footer__developer:last-of-type {
  margin-bottom: 0;
}

.footer__developer-link:hover {
  color: #d10014;
}

@media (max-width: 660px) {
  .footer {
    padding: 24px 0 20px;
  }

  .footer__container {
    gap: 16px;
  }

  .footer__logo {
    max-width: 230px;
    margin-bottom: 16px;
  }
}

@media (max-width: 460px) {
  .footer__container {
    grid-template-areas:
      "logo"
      "copyright"
      "developers";
  }
  .footer__developers {
    justify-self: self-start;
  }
}
